{% extends 'store/base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to gateway made in Django</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">

                <p align="justify">
                    <br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacus lacus, sollicitudin et lorem
                    eget, luctus vestibulum libero. Praesent congue ut leo at placerat. Fusce quis lorem bibendum,
                    rhoncus justo at, gravida elit. Quisque vel leo eget nulla interdum placerat eu nec ipsum. Vivamus
                    vestibulum arcu lectus, nec bibendum enim pellentesque id. Donec iaculis elit ut justo iaculis
                    vestibulum. Phasellus nec ligula blandit, molestie metus in, mollis justo. Fusce in cursus tellus.
                    Etiam tempus sit amet justo eu pellentesque. Pellentesque imperdiet mi quis dui sollicitudin, ac
                    laoreet nunc sagittis. Aliquam suscipit lectus ut est euismod, vitae interdum turpis mattis.
                    Suspendisse nec ante ultrices, euismod massa a, porta augue. Mauris et varius ante.
                    <br/><br/>
                    Nullam at arcu et leo malesuada luctus luctus eget sapien. Etiam eleifend et augue eu venenatis.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum quis neque id fringilla. Nullam
                    sed augue mattis, eleifend turpis nec, consectetur metus. Quisque in purus eget magna fermentum
                    porttitor non eget justo. Ut ac diam nec urna consequat rhoncus et nec orci. Nunc pellentesque, odio
                    in venenatis ullamcorper, neque felis egestas sem, nec pharetra augue arcu vel odio. Vestibulum
                    tellus magna, consequat ut purus quis, facilisis auctor nisi. Nunc lacus odio, aliquam eget urna sit
                    amet, dictum malesuada lectus. Nulla facilisi.
                    <br/><br/>
                    Nunc laoreet massa iaculis ipsum egestas dictum. Nam porta quam ante, vitae maximus turpis maximus
                    at. Fusce sagittis ex vitae nisi dictum scelerisque. Donec mi turpis, aliquam nec tellus ac,
                    sollicitudin egestas mauris. Nulla cursus nibh eget venenatis gravida. Pellentesque suscipit nulla
                    ex, et imperdiet risus rutrum in. Suspendisse suscipit mi eget leo bibendum sagittis id at risus. In
                    eu nisi a ligula vehicula tempus. Quisque tincidunt eget est pretium tincidunt. Donec sed consequat
                    mi. Ut lacinia, lectus id imperdiet commodo, tortor odio tempus turpis, ac eleifend leo nisi quis
                    magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br/><br/>
                </p>

            </div>
        </center>
    </div>
</div>

{% endblock %}